@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
}

.text_font {
    font-size: 17px;
    color: black;
}
.ac{
    font-weight: 500;
}
.bg_nav_left {
    height: 100vh;
    background: #F7F7F7;
    position: absolute;
    position: fixed;
}

.bg_hed {
    background-color: #6B7B8C;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: -20px !important;
}
.logo_new{
    width: 200px;
}
.hednameRow {
    /* position: absolute; */
    background-color: #6B7B8C;
    height: 60px;
    /* border-bottom: 2px solid #FFFFFF; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300 !important;
}

.img_manu {
    width: 30px;
    margin-left: 36.66667%;
    pointer-events: none;
    display: none;
}

.endSET {
    display: flex;
    justify-content: end;
}

.profileIMG {
    width: 30px;
    border-radius: 100%;
}

.centeraligtn {
    display: flex;
    justify-content: center;
}

.diIMG1 {
    display: none;
    width: 90%;
    margin-top: 5px;
}

.diIMG2 {
    display: block;
    width: 90%;
    margin-top: 5px;
}

.arrorIMG {
    width: 150%;
}

.leftarrorIMG1 {
    display: none;
    width: 50%;
    margin-left: 105%;
}

.leftarrorIMG2 {
    display: block;
    width: 50%;
    margin-left: 105%;
}

.leftbox {
    width: 16%;
}

.hiddnbox {
    display: none;
}

.hiddnbox2 {
    display: none;
}

.cPoin {
    cursor: pointer;
}



.hover:hover {
    background-color: #6B7B8C;;
    color: #FFFFFFFF !important;
    /* font-weight: bold; */
    /* margin-top: 5%; */
    height: 10%;
}

.hover:hover .text_font {
    color: #FFFFFFFF !important;
    font: bold;
}

.hover:hover .diIMG1 {
    display: block;
}

.hover:hover .diIMG2 {
    display: none;
}

.hover:hover .leftarrorIMG1 {
    display: block;
}

.hover:hover .leftarrorIMG2 {
    display: none;
}


.rowler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
}

.poti_fix_new {
    position: fixed;
}





@media screen and (max-width: 1200px) {
    .diIMG1 {
        width: 200%;
        display: none;
    }

    .diIMG2 {
        display: block;
        width: 200%;
    }


    .arrorIMG {
        width: 250%;
    }

    .leftarrorIMG1 {
        display: none;
        width: 150%;
        margin-left: 105%;
    }

    .leftarrorIMG2 {
        display: block;
        width: 150%;
        margin-left: 105%;
    }


}

@media screen and (max-width: 900px) {
    .bg_nav_left {
        display: none;
    }
    .logo_new{
        display: none;
        position: absolute;
        visibility: hidden;
        z-index: -10;
    }

    .img_manu {
        margin-left: 3%;
        z-index: 400 !important;
        pointer-events: visible;
        display: block !important;

    }

    .indexp {
        z-index: 100 !important;
    }

    .leftbox {
        width: 100%;
    }


    .poti_fix22 {
        position: fixed;
        z-index: 30 !important;
    }

    .poti_fix {
        position: fixed;
        z-index: 40 !important;
    }

    .set_mar_navbar {
        margin-left: 0px;
    }

    .diIMG1 {
        display: none;
        width: 30%;
        margin-left: 80%;
    }

    .diIMG2 {
        display: block;
        width: 30%;
        margin-left: 80%;
    }

    .arrorIMG {
        width: 30%;
        margin-left: -380% !important;
    }

    .leftarrorIMG1 {
        display: none;
        width: 15%;

    }

    .leftarrorIMG2 {
        display: block;
        width: 15%;

    }

    .logo {
        width: 60%;
        margin-top: 60px;
    }

    .settop {
        margin-bottom: 80px !important;
    }

    .marginsetlef {
        margin-left: 20% !important;
    }

    .hednameRow {
        background-color: green;
    }

    .mobile_cen {
       margin-left: 55px !important;
    }
    .diIMG1{
        width: 20px;
    }
    .diIMG2{
        width: 20px;
    }
 .phone_re_set{
    margin-left: -75px !important;
 }
 .re_phone_mini{
    margin-left: 85px;
 }
 .mr_top_al{
    margin-top: 3px !important;
 }
 .bb{
    margin-top: 10px !important;
 }
}